<master-layout>
    <p>Network: Testnet</p>
    <faucet-wallet-button-organism />
    <div id="faucet-wallet-data">
        <label for="address-input">Address:</label>
        <input type="text" id="address-input" readonly value="" />
        <label for="secret-input">Secret:</label>
        <input type="text" id="secret-input" readonly value="" />
        <label for="balance-input">Funded with:</label>
        <input type="text" id="balance-input" readonly value="" />
    </div>
</master-layout>
